html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 35em;
    height: auto;
}

.topnav {
    background-color: rgba(212, 212, 212, 0.801);
    display: inline-flex;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    z-index: 1000;
    border-radius: 8px; 
}

.topnav a {
    text-decoration: none; 
    font-size: 25px;
    margin: 10px;
    color: black;
}

body {
    /*background-color: rgba(212, 212, 212, 0.541);*/
    background-image: url(../images/background.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: right; 
    box-sizing: border-box;
    overflow:hidden;
}

.footer {
    margin-top: auto;
    padding: 10px;
    background-color: rgba(212, 212, 212, 0.541);
    width: 100%; 
    text-align: right; 
}


